{% extends "layout.html" %}
{% block search %}

 <script type='text/javascript'>
        function addFields(){
            // Number of inputs to create
            var number = document.getElementById("member").value;
            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container");
            // Clear previous contents of the container
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i=0;i<number;i++){
                // Append a node with a random text
                container.appendChild(document.createTextNode("Attribute " + (i+1) + ": "));
                container.appendChild(document.createElement("br"));
                // Create an <input> element, set its type and name attributes
                var input = document.createElement("input");
                input.type = "text";
                input.name = "attribute" + i;
                input.style = "width:360px; padding: 0px"
                container.appendChild(input);
                // Append a line break 
                container.appendChild(document.createElement("br"));

                container.appendChild(document.createTextNode("Relop " + (i+1) + ": "));
                container.appendChild(document.createElement("br"));
                
                var input = document.createElement("input");
                input.type = "text";
                input.name = "relop" + i;
                input.style = "width:360px; padding: 0px"
                container.appendChild(input);
                // Append a line break 
                container.appendChild(document.createElement("br"));

                container.appendChild(document.createTextNode("Constraint " + (i+1) + ": "));
                container.appendChild(document.createElement("br"));
                var input = document.createElement("input");
                input.type = "text";
                input.name = "constraint" + i;
                input.style = "width:360px; padding: 0px"
                container.appendChild(input);
                // Append a line break 
                container.appendChild(document.createElement("br"));
                container.appendChild(document.createElement("hr"));
            }
        }
    </script>


        <h3>Search for Images</h3>
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
      <form action="home" method = "POST">
<label>Number of constraints: </label>
            <input type="text" id="member" name="member" value="1"><br />
    <a href="#" id="filldetails" onclick="addFields()" style="text-align: right;">Generate Forms</a>
    <p class='text-muted' style="font-size: 15px">Operations Available : ==, !=, <, <=, >, >=, ^, $</p>
    <div id="container"/></div>

            <input type="submit" value="Submit"><br><br>
      </form>


        </article>
{% endblock search %}

 
{% block content %}
  {% if posts|length != 0 %}
  <h3>Fetched Images</h3>
  {% endif %}

    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" style="color: blue">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title">{{ post.title }}</a></h2>
            <img src="{{ url_for('static', filename = 'tmp_downloads/'+post.content) }}" alt="{{post.title}}" width=600px><br>
            <div style="height:120px;width:600px;border:4px solid #eee;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
              {% for key, value in post.metadata.items() %}
                <p style="text-align: center; text-transform: uppercase;">{{key}} : {{value}}</p>
              {% endfor %}
            </div>
          </div>
        </article>
    {% endfor %}
{% endblock content %}

{% block attributes %}

{% if attributes|length == 0 %}
<p class="text-muted">Please add images to view the attributes</p>  
{% endif %}


{% for attr in attributes %}
<li class="list-group-item list-group-item-light" style="word-wrap: break-word;">{{attr}}</li>
{% endfor %}

{% if attributes|length != 0 %}
<p class="text-muted"><br>Other attributes are available</p>  
{% endif %}

{% endblock attributes %}